version: '3.8'

services:

  revue-notification:
    image: revue-notification
    container_name: ${NOTIFICATION_HOST}
    build:
      context: .
      dockerfile: ./notification/Dockerfile
    restart: on-failure
    ports:
      - ${NOTIFICATION_PORT}:${NOTIFICATION_PORT}
    depends_on:
      - revue-notification-db
      - ${KAFKA_HOST}
    networks:
      - my-net

  revue-notification-db:
    image: mongo
    container_name: ${NOTIFICATION_DB_HOST}
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${NOTIFICATION_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${NOTIFICATION_DB_PASSWORD}
      MONGO_INITDB_DATABASE: ${NOTIFICATION_DB_NAME}
    ports:
      - ${NOTIFICATION_DB_PORT}:27017
    volumes:
      - notification_data:/data/db
      - ./notification/db/notification-init.js:/docker-entrypoint-initdb.d/notification-init.js
    networks:
      - my-net

volumes:
  notification_data:
    driver: local

networks:
  my-net:
    name: revue-network
    external: true